<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    
</head>
<body>
    <style>
        body {
            background-color: aliceblue;
          background-repeat: no-repeat;
          background-size: cover;
          text-size-adjust: 100px;
          color:rgb(2, 55, 28);
        }
        h1 {
           color: aquamarine;
        }
        h2{
            color:black;
        }
       
      </style>  
      <center><h1><b>ABOUT US</b></h1></center> 
      <br><br><center>
      Baabtra the best software training company in calicut has proved its 
      expertise by training and placing several hundreds of students both in 
      MNC's like UST Global, infosys,oracle etc andSME'S like Nucore software
      solutions,sesame,IOSS,ULTS.</center>
      <br><br><br><br>
     <h2><b>CONTACT</b></h2>
     <br><br>
     +918592058444
     <br><br>
     info@baabtra.company
     <br><br>
     CAFIT Square,5 th floor, Hilite Business park,
     Thondayad bye-pass,Hilite city,
     calicut ,kerala,india.

</body>
</html>